{% extends 'base.html' %}

{% block title %}Excluir Aula{% endblock %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Confirmar Exclusão</h1>

<div class="card">
    <div class="card-body">
        <p>Deseja excluir a aula de <strong>{{ object.disciplina.nome }}</strong> no dia <strong>{{ object.data }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Excluir</button>
            <a href="{% url 'disciplina:aula_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
